@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Oswald&family=Poppins:wght@200;300;400;500&display=swap');

:root{
 --color-1: #010440;
 --color-dark-1: #797984;
 --color-dark-2: #312d37;
 --color-dark-3: #000;



}

* {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Header  */

.container {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--color-1);
    height: 200px;
}

.container img {
    position: relative;
    right: 30%;
    width: 200px;
}

.nav-links {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.nav-links ul, a {
    display: flex;
    align-items: center;
    justify-content: space-between;
}